# fly.toml app configuration file generated for maxis-alerts on 2023-09-11T16:34:39-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "maxis-alerts"
primary_region = "bos"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
